main {
    min-height: 100vh;
    background-color: aquamarine;
}

header {
    height:70px;
    border:1px solid red;
    justify-content: center;
}

header > div {
    width:80%;
    border:1px solid red;
    align-items: center;
}

header .logo {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5em;
    padding: 0 10px;
}

header form {
    margin-right: 10px;
    
}

header form input {
    width: 360px;
    padding:10px;
    height:40px;
    font-size: 1.5em;
    border-radius: 5px 0 0 5px;
    border: 1px solid grey;
    border-right:none;
}

header form input:focus {
    outline:none;
}

header form button {
    height:40px;
    width: 100px;
    border-radius: 0 5px 5px 0;
    border: 1px solid grey;
}

.dropdown {
    position:relative;
    display:inline-block;
    margin-right:10px;
}

.dropdown > div {
    padding: 0 10px;
    align-items: center;
    border-radius:5px;
    background-color: grey;
    height:40px;

}

.dropdown > div h3 {
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0 10px;
}

.dropdown-options {
    display:none;
    position:absolute;
    overflow: auto;
}

.dropdown:hover .dropdown-options {
    display: block;
  }
  

.layout {
    
}

/* utility classes */
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}