
main {
    min-height: 100vh; /* 100% of html & body which have been set to min-height 100%*/ 
}

/* home page */

.home-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto;
    row-gap:30px;
    height: 100%; /*stretch & be as tall as parent which is 100vh*/
}


/*header component*/
header {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 0 grey;
}

header > * {
    margin: 0 10px;
}

/* title styles */
header h1 {
    color: rgb(43, 39, 39)
}

/*main nav*/
.main-nav:hover, .cart:hover {
    outline: 1px solid grey;
    border-radius: 2px;
}

.login-trigger:hover, .main-nav:hover, .search-form-button:hover, .cart:hover {
    cursor: pointer;
}

/* search form*/
.search-form {
    display: flex;
    flex-wrap: nowrap;
    width: 400px;
    /* outline: 1px solid green; */
}

.search-form input[type=text] {
    flex-grow: 1; /*It dictates what amount of the available space inside the flex container the item should take up.*/
    height:30px;
    border-radius: 2px 0 0 2px;
    outline: 1px solid grey;
    border: none;
    padding: 0 10px;
}

.search-form-button {
    /* all:unset; */
    width: 80px;
    border-radius: 0 2px 2px 0;
    border:none;
    outline:1px solid grey;
}

/* Login trigger */
.login-trigger {
    display: flex;
    flex-wrap: nowrap;
    width:100px;
    column-gap: 5px;
    outline: 1px solid gray;
    border-radius: 2px;
}

.login-trigger button {
    flex-grow: 1;
    border-radius: 0;
    border:none;
    border-left: 1px solid grey;
}

/* home component: ProductDisplay */

.product-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 310px;
    /* border:1px solid grey; */
    padding:10px;
    width:80%;
    margin: 0 auto;
    border-radius: 2px;
    row-gap:20px;
    column-gap:5px;
}

.no-products {
    outline:1px solid grey;
    width: fit-content;
    padding:10px;
    border-radius:5px;
    margin: calc(100vh/2) auto;
}

.product-panel {
    /* outline:1px solid red; */
    padding:4px; 
    box-shadow: none;
    transition: all 0.2s;
}

.product-panel:hover {
    box-shadow: 0 0 2px 1px grey;
    transform: scale(1.01);
    /* outline: 1px solid grey; */
}

.product-panel img {
    width:100%;
    height:200px;
    object-fit: cover;
}

.product-name {
    font-size:1.5em;
    font: weight 100px;;
}

#add-cart {
    border:none;
    width: 100%;
    background-color: green;
    border-radius: none;
    color:white;
    font-weight: 500;
    padding:5px 0;
    margin-top:5px;
}

#add-cart:hover {
    cursor: pointer;
}