* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 12px;
}

main {
    outline: 1px solid red;
    height: 100vh;
}

/* home page */

.home-page {
    height: 100%; /*stretch & be as wide as parent which is 100vh*/
    outline: 1px solid black
}

/*header component*/
header {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    outline: 1px solid red;
}

header > * {
    margin: 0 10px;
}

/* search form*/
.search-form {
    display: flex;
    flex-wrap: nowrap;
    width: 400px;
    /* outline: 1px solid green; */
}

.search-form input[type=text] {
    flex-grow: 1; /*It dictates what amount of the available space inside the flex container the item should take up.*/
    height:30px;
    border-radius: 2px 0 0 2px;
    outline: 1px solid grey;
    border: none;
    padding: 0 10px;
}

.search-form-button {
    /* all:unset; */
    width: 80px;
    border-radius: 0 2px 2px 0;
    border:none;
    outline:1px solid grey;
}